{% extends 'base.html' %}

{% block head %}
    <title>Contact | Meraki & Co.</title>
    <!-- CSS only -->
{#<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">#}

{% endblock %}

{% block body %}
    {% load static %}
    <main id="content" class="content">

        {% if showbutton == False %}
        <section class="bg-white pt-50 pb-40">
                <div class="lqd-column col-md-12 border-radius-4 pt-15 mt-0 mb-30 " style="background-color: #ececec;">
                    <h3 class="mt-2 mb-40 font-size-30 lh-125 font-style-normal text-center" >
                        We have recieved your query.
                    </h3>
                </div>
        </section>
        {% endif %}

        <div class="pf-single-contents">
            <section class="bg-white pt-85 pb-55">
					<div class="container">
						<div class="row d-flex flex-wrap align-items-center">

                            <div class="lqd-column col-xs-12 col-md-6">

								<div class="liquid-img-group-container">
									<div class="liquid-img-group-inner">
                                        <div class="lqd-frickin-img" data-inview="true" data-inview-options='{ "delayTime": 250, "threshold": 0.95 }'>
            								<div class="lqd-frickin-img-inner">
			            						<span class="lqd-frickin-img-bg bg-secondary"></span>
									            <div class="lqd-frickin-img-holder">
{#										            <figure data-responsive-bg="true">#}
											        <iframe data-responsive-bg="true" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3697.504615479487!2d82.14337371523027!3d22.068537685444426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a280bb13bea43e3%3A0xe37063ae83d54e69!2sMeraki%20%26%20Co.!5e0!3m2!1sen!2sin!4v1613977008903!5m2!1sen!2sin" width="570" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{#										            </figure>#}
                                                </div><!-- /.lqd-frickin-img-holder -->
								            </div><!-- /.lqd-frickin-img-inner -->
							            </div><!-- /.lqd-frickin-img -->
									</div><!-- /.liquid-img-group-inner -->
								</div><!-- /.liquid-img-group-container -->

							</div><!-- /.lqd-column col-xs-12 col-md-6 -->

							<div
								class="lqd-column col-xs-12 col-md-6 pr-md-7"
								data-custom-animations="true"
								data-ca-options='{ "triggerHandler": "inview", "animationTarget": "all-childs", "duration": 650, "delay": 70, "initValues": { "translateY": 100, "opacity": 0 }, "animations": { "translateY": 0, "opacity": 1 } }'>

                                <h2 class="font-size-30 mt-0 mb-15 "><span class="font-size-2x"><b>Contact Us</b></span></h2>

                                <div class="lqd-column col-lg-10 col-lg-offset-1">

                            <div class="row">
							<div class="tabs  tabs-nav-underlined tabs-nav-active-underlined tabs-nav-lg">
{#                                <div class="row">#}
{#                                    <div class="col"><h3 class="mt-2 mb-40 font-size-30 lh-125">I'm a</h3></div>#}
{#                                    <div class="col">#}
                                   <ul class="nav tabs-nav" role="tablist">

									<li role="presentation" class="font-weight-semibold active">
										<a href="#ld-tab-pane-45" aria-expanded="false" aria-controls="ld-tab-pane-45" role="tab" data-toggle="tab">
											I'm a client
                                            <span class="tabs-nav-icon">
												<i class="icon-ion-ios-business"></i>
											</span>

										</a>
									</li>
									<li role="presentation" class="font-weight-semibold">
										<a href="#ld-tab-pane-46" aria-expanded="false" aria-controls="ld-tab-pane-46" role="tab" data-toggle="tab">
											I'm a Designer
                                            <span class="tabs-nav-icon">
												<i class="icon-ion-ios-brush"></i>
											</span>
										</a>
									</li>

								</ul>
{#                                    </div>#}
{#                                </div>#}


								<div class="tabs-content">
									<div id="ld-tab-pane-45" role="tabpanel" class="tabs-pane fade active in">
										<h3 class="mt-2 mb-40 font-size-30 lh-125 font-style-italic" >
                                            phone: <a href="tel:+91 9229494747">+91 9229494747</a><br>
                                            email: <a href="mailto:kshitizdewani@gmail.com">contact@wemeraki.com</a>
                                        </h3>
									</div><!-- /.tab-pane -->
									<div id="ld-tab-pane-46" role="tabpanel" class="tabs-pane fade">
									    <h3 class="mt-2 mb-40 font-size-30 lh-125 font-style-italic" >
                                            phone: <a href="tel:+91 9229494747">+91 0987654321</a><br>
                                            mail resume at: <a href="mailto:kshitizdewani@gmail.com">career@wemeraki.com</a>
                                        </h3>
                                        <p>
                                            *We will take your resumne under consideration according to business requirements.
                                        </p>
                                    </div><!-- /.tab-pane -->

								</div><!-- /.tabs-content -->
							</div><!-- /.tabs -->
                            </div>
						</div><!-- /.lqd-column col-lg-10 col-lg-offset-1 -->
{#								<h3 class="mt-2 mb-40 font-size-30 lh-125 font-style-italic" >#}
{#                                    phone: <a href="tel:+91 9229494747">+91 9229494747</a><br>#}
{#                                    email: <a href="mailto:kshitizdewani@gmail.com">kshitizdewani@gmail.com</a>#}
{#                                </h3>#}

{#								<p>#}
{#                                    Address: <b>Meraki & Co.</b>, D-32, near Shriram towers, Vypar Vihar, 495004 <br>City: Bilaspur<br>State: Chhattisgarh#}
{#                                </p>#}
{#                                {% if showbutton == True %}#}
{#                                <a href="#modal-1" data-lity="#modal-1" class="btn btn-solid btn-md circle btn-bordered border-thin font-size-14 font-weight-bold ltr-sp-025 lh-15 px-1" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>#}
{#								<span>#}
{#									<span class="btn-txt">Drop a message</span>#}
{#								</span>#}
{#							    </a>#}
{#                                {% endif %}#}

							</div><!-- /.lqd-column col-xs-12 col-md-6 -->

						</div><!-- /.row -->
					</div><!-- /.container -->


                	<!-- ---------------CONTACT FORM--------------- -->
							<div id="modal-1" class="lqd-modal lity-hide">
								<div class="lqd-modal-inner">

									<div class="lqd-modal-head"></div><!-- /.lqd-modal-head -->

									<div class="lqd-modal-content">

										<div class="row">

											<div class="lqd-column col-md-12 px-4 pt-45 pb-30">

												<div class="row d-flex flex-wrap align-items-center">

													<div class="lqd-column col-md-6 col-md-offset-1">

														<header class="fancy-title">
															<h2>Drop us a line</h2>
															<p>Just write to us and we will reach out to you.</p>
														</header><!-- /.fancy-title -->

													</div><!-- /.lqd-column col-md-6 col-md-offset-1 -->

													<div class="lqd-column col-md-4 hidden-sm hidden-xs text-right">

														<div class="iconbox text-right iconbox-xl" data-animate-icon="true" data-plugin-options='{"resetOnHover":true,"color":"rgb(216, 219, 226)","hoverColor":"rgb(0, 0, 0)"}'>
															<div class="iconbox-icon-wrap">
																<span class="iconbox-icon-container">
																	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="1,30 63,1 23,41" /> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="34,63 63,1 23,41" /> </svg>
																</span>
															</div><!-- /.iconbox-icon-wrap -->
														</div><!-- /.iconbox -->
													</div><!-- /.lqd-column col-md-4 hidden-sm hidden-xs -->

												</div><!-- /.row -->

												<div class="row">

													<div class="lqd-column col-md-10 col-md-offset-1">

														<div class="contact-form contact-form-inputs-underlined contact-form-button-circle">
															<form name="enquiryForm" #enquiryForm action="" method="post" novalidate="novalidate">
                                                                {% csrf_token %}
																<div class="row d-flex flex-wrap">
																	<div class="lqd-column col-md-6 mb-20">
																		<input class="lh-25 mb-30" type="text" name="name" aria-required="true" aria-invalid="false" placeholder="Name" required>
																		<input class="lh-25 mb-30" type="email" name="email" aria-required="true" aria-invalid="false" placeholder="Your email address" required>
																		<input class="lh-25 mb-30" type="tel" name="mobile" aria-required="true" aria-invalid="false" placeholder="Mobile no" required>
																	</div><!-- /.col-md-6 -->
																	<div class="lqd-column col-md-6 mb-20">
																		<textarea cols="10" rows="6" name="message" aria-required="true" aria-invalid="false" placeholder="Message" required></textarea>
																	</div><!-- /.col-md-12 -->
																	<div class="lqd-column col-md-6">
																		<p class="font-size-16 opacity-07"><em>We all know how important your information is. They are always safe with us.</em></p>
																	</div><!-- /.col-md-6 -->
                                                                    <a onclick="validateForm()" style="float: end;" class="align-items-lg-end btn btn-solid lqd-column text-md-right btn-md circle btn-bordered border-thin font-size-14 font-weight-bold ltr-sp-025 lh-15 px-1" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>
                                                                        <span>
                                                                            <span class="btn-txt align-items-center text-center">Send</span>
                                                                        </span>
                                                                    </a>
{#																	<div class="lqd-column btn col-md-6 text-md-right">#}
{#																		<input type="button" onclick="validateForm()" value="Send message" class="font-size-13 ltr-sp-1 font-weight-bold">#}
{#																	</div><!-- /.col-md-6 -->#}
																</div><!-- /.row -->
															</form>
															<div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
														</div><!-- /.contact-form -->

													</div><!-- /.col-md-10 col-md-offset-1 -->

												</div><!-- /.row -->

											</div><!-- /.lqd-column col-md-12 -->

										</div><!-- /.row -->

									</div><!-- /.lqd-modal-content -->

									<div class="lqd-modal-foot"></div><!-- /.lqd-modal-foot -->

								</div><!-- /.lqd-modal-inner -->
							</div><!-- /.lqd-modal -->
				</section>

            <section class="vc_row bg-white pt-70 pb-50">
				<div class="container">
					<div class="row">

						<div class="lqd-column col-md-12 px-4 pt-45 pb-30 bg-white box-shadow-1">

							<div class="row d-flex flex-wrap align-items-center">

								<div class="lqd-column col-md-6 col-md-offset-1">

									<header class="fancy-title">
										<h2>Drop us a line</h2>
										<p>We are here to answer any question you may have</p>
									</header><!-- /.fancy-title -->

								</div><!-- /.lqd-column col-md-6 col-md-offset-1 -->

								<div class="lqd-column col-md-4 hidden-sm hidden-xs text-right">

									<div class="iconbox text-right iconbox-xl" data-animate-icon="true" data-plugin-options='{"resetOnHover":true,"color":"rgb(216, 219, 226)","hoverColor":"rgb(0, 0, 0)"}'>
										<div class="iconbox-icon-wrap">
											<span class="iconbox-icon-container">
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="1,30 63,1 23,41" /> <polygon stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="34,63 63,1 23,41" /> </svg>
											</span>
										</div><!-- /.iconbox-icon-wrap -->
									</div><!-- /.iconbox -->
								</div><!-- /.lqd-column col-md-4 hidden-sm hidden-xs -->

							</div><!-- /.row -->

							<div class="row">

								<div class="lqd-column col-md-10 col-md-offset-1">

									<div class="contact-form contact-form-inputs-underlined contact-form-button-circle">
										<form name="enquiryForm" #enquiryForm action="" method="post" novalidate="novalidate">
                                                                {% csrf_token %}
																<div class="row d-flex flex-wrap">
																	<div class="lqd-column col-md-6 mb-20">
																		<input class="lh-25 mb-30" type="text" name="name" aria-required="true" aria-invalid="false" placeholder="Name" required>
																		<input class="lh-25 mb-30" type="email" name="email" aria-required="true" aria-invalid="false" placeholder="Your email address" required>
																		<input class="lh-25 mb-30" type="tel" name="mobile" aria-required="true" aria-invalid="false" placeholder="Mobile no" required>
																	</div><!-- /.col-md-6 -->
																	<div class="lqd-column col-md-6 mb-20">
																		<textarea cols="10" rows="6" name="message" aria-required="true" aria-invalid="false" placeholder="Message" required></textarea>
																	</div><!-- /.col-md-12 -->
																	<div class="lqd-column col-md-6">
																		<p class="font-size-16 opacity-07"><em>We all know how important your information is. They are always safe with us.</em></p>
																	</div><!-- /.col-md-6 -->
                                                                    <a onclick="validateForm()" style="float: end;" class="align-items-lg-end btn btn-solid lqd-column text-md-right btn-md circle btn-bordered border-thin font-size-14 font-weight-bold ltr-sp-025 lh-15 px-1" data-localscroll="true" data-localscroll-options='{"scrollBelowSection":true}'>
                                                                        <span>
                                                                            <span class="btn-txt align-items-center text-center">Send</span>
                                                                        </span>
                                                                    </a>
{#																	<div class="lqd-column btn col-md-6 text-md-right">#}
{#																		<input type="button" onclick="validateForm()" value="Send message" class="font-size-13 ltr-sp-1 font-weight-bold">#}
{#																	</div><!-- /.col-md-6 -->#}
																</div><!-- /.row -->
															</form>
										<div class="contact-form-result hidden"></div><!-- /.contact-form-result -->
									</div><!-- /.contact-form -->

								</div><!-- /.col-md-10 col-md-offset-1 -->

							</div><!-- /.row -->

						</div><!-- /.lqd-column col-md-12 -->

					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>

        </div>
    <script type="text/javascript">
        function validateForm() {
            var name = document.forms["enquiryForm"]["name"];
            var email = document.forms["enquiryForm"]["email"];
            var mobile = document.forms["enquiryForm"]["mobile"];
            var message = document.forms["enquiryForm"]["message"];
            console.log(name.value+email+mobile+message);

            {# if their is an invalid input #}
            if ((name.value === null || name.value === "" || name.value == undefined) || (email.value === null || email.value === "" || email.value == undefined) || (mobile.value === null || mobile.value === "" || mobile.value == undefined) || (message.value === null || message.value === "" || message.value == undefined)){
                console.log("reached inside 'if'");
                if (name.value === null || name.value === "" || name.value == undefined) {
                    console.log("reached inside 'name if'");
                    name.style.borderColor = "red";
                }
                if (email.value === null || email.value === "" || email.value == undefined) {
                  console.log("reached inside 'email if'"+email.value);
                    email.style.borderColor = "red";
                }
                if (mobile.value === null || mobile.value === "" || mobile.value == undefined) {
                    console.log("reached inside 'mobile if'");
                    mobile.style.borderColor = "red";
                }
                if (message.value === null || message.value === "" || message.value == undefined) {
                  message.style.borderColor = "red";
                  console.log("reached inside 'message if'");
                }
            }
            {#  if their isnt any invalid input  #}
            else {
                console.log("reached inside 'else'");
                document.forms["enquiryForm"].submit();
            }
        }
    </script>
    </main>
{% endblock %}
